body {
    font-family: 'NATS';
    font-family: NATS;
    overflow: hidden;
}

.nats {
    font-family: 'NATS'!important;
    font-style: normal;
}

.vh-100 {
    min-height: 100vh;
}

.w-400 {
    width: 400px;
}

.fs-xs {
    font-size: 1rem;
}

.w-10 {
    width: 10%;
}

a {
    text-decoration: none;
}

.fs-big {
    font-size: 5rem !important;
}

.chat-message-header {
    font-size: 34px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.online {
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
}

.w-15 {
    width: 15%;
}

.fs-sm {
    font-size: 1.4rem;
}

small {
    color: #bbb;
    font-size: 0.7rem;
    text-align: right;
}

.chat-box {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 65vh;
}

.rtext {
    max-width: 65%;
    background: #F4F4F7;
    padding: 12px 18px 6px;
    border-radius: 16px 16px 0px 16px;
    color: #000000D9;
}

.ltext {
    max-width: 65%;
    background: #F4F4F7;
    padding: 12px 18px 6px;
    border-radius: 16px 16px 0px 16px;
    color: #000000D9;
}


/* width */

*::-webkit-scrollbar {
    width: 3px;
}


/* Track */

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

*::-webkit-scrollbar-thumb {
    background: #aaa;
}


/* Handle on hover */

*::-webkit-scrollbar-thumb:hover {
    background: #3289c8;
}

textarea {
    resize: none;
}

.list-group-item {
    border: none;
    padding: 0;
}

.chat {
    margin: 0 !important;
    padding: 0 !important;
    justify-content: flex-start;
    /* align-self: flex-end; */
    margin-bottom: auto;
    margin-top: auto;
    outline: none;
}

.chat-end-align {
    position: absolute;
    width: 100%;
    bottom: 0;
    width: -webkit-fill-available;
}

.grey-color {
    background-color: #EEEEEE !important;
    color: #676767 !important;
}

.align-center {
    align-items: center !important;
    justify-content: center !important;
}

.end {
    padding-bottom: 100px;
    margin: 300px;
}

.blue-color {
    color: #0177FD!important;
}

.no-message {
    width: 250px;
    height: 250px;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    align-items: center;
    justify-content: center;
}

.scroll {
    overflow-y: scroll;
    /* overflow-y: hidden; */
    height: 500px;
}

.bt-outline {
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
}

.hide-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin: 0 5px;
}


/* background of scrollbar track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* color of scrollbar handle */

 ::-webkit-scrollbar-thumb {
    background-color: #E3E3E3;
}


/* hover effect for scrollbar handle */

 ::-webkit-scrollbar-thumb:hover {
    background-color: #E3E3E3;
}


/*message_status*/